.git
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.env
*.log
*.ini # Если alembic.ini не нужен в образе или настраивается через переменные
# Добавь сюда другие файлы/папки, которые не должны попасть в образ